

h1{font-family: Georgia, 'Times New Roman', Times, serif;
    color:#4aaaa5;
    background-color: white;
    padding-top: 13px;
    margin-left: 6px;
    margin-bottom: -2px;
}
    
    h2, h3{font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;}
    
    .btn-group button {
        background: url("https://www.transparenttextures.com/patterns/black-thread-light.png");      
        background-color: white;
        border: transparent;
        color: black;
        padding: 10px;
        padding-top: 25px;
        cursor: pointer;
        float: right;
        margin-right: 2px; margin-left: 2px;
        font-size: 20px;
        }
    
    .btn-group button:hover{
            background-color: goldenrod;
        }
    
    .header{
        background:url("https://www.transparenttextures.com/patterns/black-thread-light.png");
        background-color: #ffffff;
        margin-top: -9px;
        margin-right: -9px;
        margin-left: -9px;
        padding-left: 15px;
    }
    
    header{ 
    background: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
    background-color: teal;
    width: 90px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    }
    
    
    body {
        margin: 0;
        margin-top: 9px;
        background-color:#a8a8a8; background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");   
     }

    

    .contact {
        border-radius: 5px;
        width: 960px;
        height: 500px;
        background-color: white;
        margin-bottom: 7%;
        margin-left: 14%;
        margin-top: 5%;
        border: 10px;
        border-color: #34cac3;

    }


    .img {
        margin-left: 205px;
        font-size: 37px;
        margin-top: -45px;
        color: #4aaaa5;
    }

    #contact {
        margin-top: 12%;        
    }

    input, textarea {
        border-style: groove;
        border-color: #4aaaa5;  
        border-radius: 5px;   
        width: 405px;   
    }


    
    
    #contact-submit {
        background:url("https://www.transparenttextures.com/patterns/black-thread-light.png");
        background-color: #4aaaa5;
        border-radius: 5px;
        width: 415px;
        height: 35px;
        font-size: 15px;
        cursor: grabbing;
    }

    #social  {
        color: #4aaaa5;
        margin-top: 23px;
        font-size: 50px;
        margin-left: 412px;        

    }

/* I couldnt get the link to change colors to the teal used elsewhere,
    chrome inspector stated "user specified styl sheet. 
    is this awesome fonts setting overriding my css?

    .fab fa-instagram {
        color: #4aaaa5;
    }
    
    */

    

    

    fieldset {
        border: transparent;
        text-align: center;
        
        
    }

    .footer{
        border-top-color: #4aaaa5;
        border-top-width: 6px;
        border-top-style: solid;
        text-align: center;
        margin-left: -9px;
        margin-right: 0px;
        margin-bottom: -20px;
        padding-bottom: 0px;
        padding-right: 15px;
        background:url("https://www.transparenttextures.com/patterns/black-thread-light.png");
        background-color: gray;
        box-shadow: 0 50vh 0 50vh gray;
        } 